<div class='card'>

    <div class='card-header d-flex justify-content-between' (click)='switchShowCardBody()'>
        <span id='header-text'>{{ headerText }}</span>
        <div>
            <span *ngIf='extraInfo' id='extra-info' class='btn btn-warning mr-1' disabled>
                {{ extraInfo }}
            </span>
            <button id='button' [class]='buttonClass' (click)='handleClick($event)'>
                {{ buttonText }}
            </button>
        </div>
    </div>

    <div *ngIf='showCardBody'  class='card-body' @slideInOut>
        <p class='card-text' id='body-text'>{{ bodyText }}</p>
    </div>

</div>