<div *ngIf='schedule' class='card p-3'>
	
	<div class='d-flex justify-content-between mt-2 mb-3'>
		<h5>{{ schedule.spaServiceMini.name }}</h5>
		<button class='badge badge-pill badge-danger badge-sm' (click)='closePopup()'>
			<svg-icon src="assets/svg/close.svg" [svgStyle]="{ 'width.px': 10, 'margin-top': '2px', 'margin-right': '1px' }"></svg-icon>
		</button>
	</div>
	<table class="table table-bordered p-1">
		<thead>
			<tr>
				<th>Fecha</th>
				<th colspan='5'>Horarios</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor='let data of schedule.data'>
				<td>{{ data.date }}</td>
				<td *ngFor='let range of data.ranges'>{{ range.start + ' - ' + range.end }}</td>
			</tr>
		</tbody>
	</table>

</div>

<div 
	*ngIf='schedule'
	class='transparent-glass'
	@fadeInOut>
</div>